.frameTwo {
  width: 100%;

  .frameTow_container {
    width: 100%;

    @media (min-width: 1440px) {
      width: 1440px;
      margin: 0 auto;
    }

    .container_one {
      width: 100%;
      display: flex;
      padding-top: 100px;
      
      @media (max-width: 767px) {
        flex-direction: column;
      }
      
      div {
        width: 50%;
        @media (max-width: 767px) {
          width: 100%;
        }
      }

      .left {
        img {
          width: 100%;
          height: 100%;
        }
      }

      .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #1C2D5A;

        @media (max-width: 767px) {
          padding-left: 10px;
        }

        .title {
          text-transform: uppercase;
          font-weight: 700;
        }

        .subTitle {
          font-weight: 700;
          font-size: 1.2vw;
          @media (max-width: 767px) {
            font-size: 5vw;
          }
        }

        .lorem {
          font-weight: 400;
          margin-top: 3.2vw;
          margin-bottom: 24px;
          @media (max-width: 1024px) {
            width: 90%;
          }
        }

        .list {
          li {
            margin-bottom: 5px;
          }
        }

        .container_info {
          display: flex;
          margin-top: 20px;
          width: 100%;
          @media (max-width: 767px) {
            flex-direction: column;
          }
          .left {
            width: fit-content;
            padding-right: 100px;
            border-right: 1px solid rgba(128, 128, 128, 0.5);
            @media (max-width: 767px) {
              border: none;
              padding: 0;
              padding-bottom: 8px;
              border-bottom: 1px solid rgba(128, 128, 128, 0.5);
            }
            h1 {
              width: fit-content;
              font-weight: 700;
              font-size: 3vw;
              position: relative;
              @media (max-width: 767px) {
                font-size: 10vw;
              }
              img {
                width: 1vw;
                height: 1vw;
                position: absolute;
                @media (max-width: 767px) {
                  width: 21px;
                  height: 21px;
                }
              }
            }
            p {
              font-weight: 500;
              font-size: 1.3vw;
              @media (max-width: 767px) {
                font-size: 5vw;
              }
            }
          }

          .right {
            width: fit-content;
            padding-left: 18px;
            border-left: 18px;
            @media (max-width: 767px) {
              padding: 0;
              margin-top: 8px;
            }

            p {
              font-size: 0.8vw;
              @media (max-width: 767px) {
                font-size: 3vw;
                padding: 0;
              }
            }

          }

        }

      }

    }

    .container_two {
      padding: 50px 0;
      h1 {
        text-align: center;
        font-size: 2vw;
        margin-bottom: 5vw;
        @media (max-width: 768px) {
          font-size: 5vw;
        }
        @media (max-width: 375px) {
          font-size: 24px;
        }
      }

      .container_cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        @media (min-width: 1200px) {
          width: 80%;
          margin: 0 auto;
        }
      }

    }

    .container_reg {
      width: fit-content;
      margin: 0 auto;
      text-align: center;
      button {
        width: 278px;
        height: 75px;
        border: none;
        outline: none;
        color: white;
        background: linear-gradient(95.03deg, #F09642 0%, #F0DF42 145.26%);
        border-radius: 40px;
        font-size: 16px;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
      }
      p {
        margin-top: 16px;
        font-weight: 400;
        color: #1C2D5A;
      }
    }

  }

}