.frameTwo {
  width: 100%;

  .greenCircle {
    width: 554px;
    height: 512px;
    background: rgba(167, 205, 111, 0.38);
    filter: blur(150px);
    position: absolute;
    top: 0;
    right: -250px;
  }

  .orangeCircle {
    width: 779px;
    height: 719px;
    position: absolute;
    bottom: -10%;
    left: -40%;
    background: rgba(245, 206, 128, 0.28);
    filter: blur(100px);
  }

  .frameTow_container {
    width: 100%;
    padding: 0 10px ;

    @media (min-width: 1440px) {
      width: 1440px;
      margin: 0 auto;
    }

    .container_one {
      width: 100%;
      display: flex;
      padding-top: 50px;
      
      @media (max-width: 767px) {
        flex-direction: column-reverse;
      }
      
      div {
        width: 50%;
        @media (max-width: 767px) {
          width: 100%;
        }
      }

      .left {
        img {
          width: 100%;
          height: 100%;
        }
      }

      .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #1C2D5A;

        @media (max-width: 767px) {
          padding-left: 10px;
        }

        .title {
          text-transform: uppercase;
          font-weight: 700;
          
          @media (max-width: 768px) {
            
          }
          
          @media (min-width: 768px) {
            font-size: 3vw;
          }

          @media (min-width: 1024px) {
            font-size: 40px;
          }
        }

        .subTitle {
          font-weight: 700;
          @media (max-width: 768px) {
            font-size: 18px;
          }
          @media (min-width: 768px) {
            font-size: 16px;
          }
          @media (min-width: 1024px) {
            font-size: 24px;
          }
        }

        .lorem {
          font-weight: 400;
          margin-top: 24px;
          margin-bottom: 24px;
          @media (max-width: 1024px) {
            width: 290px;
            font-size: 16px;
          }
          @media (min-width: 768px) {
            font-size: 12px;
          }
          @media (min-width: 1024px) {
            font-size: 16px;
          }
        }

        .list {
          width: 100%;
          li {
            margin-bottom: 5px;
            display: flex;
            align-items: flex-start;
            img {
              width: 14px;
              height: 14px;
              margin-right: 10px;
            }
            p {
              width: 100%;
            }
          }
        }

        .container_info {
          display: flex;
          margin-top: 20px;
          width: 100%;
          @media (max-width: 767px) {
            flex-direction: column;
          }
          .left {
            width: fit-content;
            padding-right: 6.7vw;

            @media (min-width: 1440px) {
              padding-right: 100px;
            }

            border-right: 1px solid rgba(128, 128, 128, 0.5);
            @media (max-width: 767px) {
              border: none;
              padding: 0;
              padding-bottom: 8px;
              border-bottom: 1px solid rgba(128, 128, 128, 0.5);
            }
            h1 {
              width: fit-content;
              font-weight: 700;
              font-size: 40px;
              position: relative;

              @media (min-width: 600px) {
                font-size: 40px;
              }

              @media (min-width: 768px) {

              }
              
              @media (min-width: 1440px) {
                font-size: 40px;
              }
              
              img {
                width: 1vw;
                height: 1vw;
                position: absolute;
                @media (max-width: 767px) {
                  width: 21px;
                  height: 21px;
                }
              }
            }
            p {
              font-weight: 500;
              font-size: 1.3vw;
              @media (max-width: 768px) {
                font-size: 20px;
              }
              @media (min-width: 1440px) {
                font-size: 18px;
              }
            }
          }

          .right {
            width: fit-content;
            padding-left: 18px;
            border-left: 18px;
            @media (max-width: 767px) {
              padding: 0;
              margin-top: 8px;
            }

            p {
              @media (max-width: 767px) {
                font-size: 10px;
                width: 290px;
                padding: 0;
              }
              @media (min-width: 768px) {
                font-size: 10px;
              }

              @media (min-width: 980px) {
                width: 319px;
              }
            }

          }

        }

      }

    }

    .container_two {
      padding: 50px 0;
      h1 {
        text-align: center;
        font-size: 2vw;
        margin-bottom: 40px;
        color: #1C2D5A;
        font-family: 'Montserrat', sans-serif;

        @media (max-width: 768px) {
          font-size: 24px;
        }
        @media (min-width: 1440px) {
          font-size: 30px;
        }
        //@media (min-width: 375px) {
        //  font-size: 24px;
        //}
      }

      .container_cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        @media (min-width: 1200px) {
          width: 80%;
          margin: 0 auto;
        }
      }

    }

    .container_reg {
      width: fit-content;
      margin: 0 auto;
      text-align: center;
      button {
        width: 278px;
        height: 75px;
        border: none;
        outline: none;
        color: white;
        background: linear-gradient(95.03deg, #F09642 0%, #F0DF42 145.26%);
        border-radius: 40px;
        font-size: 16px;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
      }
      p {
        margin-top: 16px;
        font-weight: 400;
        color: #1C2D5A;
      }
    }

  }

}