.frameThree {
  width: 100%;
  padding: 200px 0;

  .container_text {
    width: fit-content;
    margin: 20px auto;
    text-align: center;
    .title {
      font-weight: 700;
      font-size: 40px;
      color: #1C2D5A;
    }
    .subTitle {
      color: #1C2D5A;
      font-weight: 700;
      font-size: 24px;
    }
  }

  .container_list_info {
    width: 100%;

    .card_right {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 50px 60px;

      @media (max-width: 768px) {
        flex-direction: column;
        padding: 50px 5vw;
      }

      @media (min-width: 768px) {
        flex-direction: row;
        padding: 50px 5vw;
      }

      .left , .right {
        width: 50%;
        @media (max-width: 768px) {
          width: 100%;
        }
      }

      .left {
        @media (min-width: 768px) {
          display: flex;
          align-items: flex-start;
        }

        .container_title {
          display: flex;
          align-items: center;
          img {
            width: 80px;
            height: 80px;
          }
          .container_text {
            text-align: start;
            text-transform: uppercase;
            color: #1C2D5A;
            margin: 0;
            h1 {
              font-size: 5vw;
              margin-bottom: 5px;
              font-weight: 700;
              @media (max-width: 425px) {
                font-size: 5vw;
              }
              @media (min-width: 425px) {
                font-size: 24px;
              }
            }
            p {
              font-weight: 600;
              font-size: 4vw;
              @media (max-width: 425px) {
                font-size: 4vw;
              }
              @media (min-width: 425px) {
                font-size: 16px;
              }
            }
          }
        }

        .num_image {
          width: 10vw;
          margin-right: 20px;
        }

        .container_body {
          .container_text {
            width: 100%;
            text-align: start;
            text-transform: uppercase;
            color: #1C2D5A;
            margin: 0;
            margin-bottom: 40px;

            h1 {
              font-weight: 700;
              margin-bottom: 16px;
              @media (min-width: 768px) {
                font-size: 2.5vw;
              }
            }

            p {
              font-weight: 600;
              @media (min-width: 768px) {
                font-size: 1.4vw;
              }
            }

          }

          .list {
            width: 90%;
            li {
              margin-bottom: 10px;
              p {
                @media (min-width: 768px) {
                  font-size: 1.2vw;
                }
              }
              img {
                margin-right: 10px;
              }
            }
          }

        }

      }

      .right {
        display: flex;
        justify-content: center;
        img {
          width: 100%;
          height: 100%;
          @media (max-width: 768px) {
            margin-top: 20px;
            width: 90%;
          }
        }
      }

    }

    .card_left {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 50px 60px;

      @media (max-width: 768px) {
        flex-direction: column-reverse;
        padding: 50px 5vw;
      }

      @media (min-width: 768px) {
        flex-direction: row;
        padding: 50px 5vw;
      }

      .left , .right {
        width: 50%;
        @media (max-width: 768px) {
          width: 100%;
        }
      }

      .right {
        @media (min-width: 768px) {
          display: flex;
          align-items: flex-start;
          flex-direction: row-reverse;
        }

        .container_title {
          display: flex;
          align-items: center;
          img {
            width: 80px;
            height: 80px;
          }
          .container_text {
            text-align: start;
            text-transform: uppercase;
            color: #1C2D5A;
            margin: 0;
            h1 {
              font-size: 5vw;
              margin-bottom: 5px;
              font-weight: 700;
              @media (max-width: 425px) {
                font-size: 5vw;
              }
              @media (min-width: 425px) {
                font-size: 24px;
              }
            }
            p {
              font-weight: 600;
              font-size: 4vw;
              @media (max-width: 425px) {
                font-size: 4vw;
              }
              @media (min-width: 425px) {
                font-size: 16px;
              }
            }
          }
        }

        .num_image {
          width: 10vw;
          margin-right: 20px;
        }

        .container_body {
          .container_text {
            width: 100%;
            text-align: start;
            text-transform: uppercase;
            color: #1C2D5A;
            margin: 0;
            margin-bottom: 40px;

            h1 {
              font-weight: 700;
              margin-bottom: 16px;
              @media (min-width: 768px) {
                font-size: 2.5vw;
              }
            }

            p {
              font-weight: 600;
              @media (min-width: 768px) {
                font-size: 1.4vw;
              }
            }

          }

          .list {
            width: 90%;
            li {
              margin-bottom: 10px;
              p {
                @media (min-width: 768px) {
                  font-size: 1.2vw;
                }
              }
              img {
                margin-right: 10px;
              }
            }
          }

        }

      }

      .left {
        display: flex;
        justify-content: center;
        img {
          width: 100%;
          height: 100%;
          @media (max-width: 768px) {
            margin-top: 20px;
            width: 90%;
          }
        }
      }

    }

  }

}