.laptop {
  width: 100%;

  .laptop_container {
    position: relative;
    padding: 100px 0;

    @media (min-width: 1440px) {
      width: 1440px;
      margin: 0 auto;
    }

    .background {
      width: 80%;
      position: absolute;
      right: 0;
      top: 0;
      @media (min-width: 1440px) {
        width: 1000px;
        height: 700px;
      }
      z-index: -1;
    }

    .container {
      padding: 0 20px;
      width: 70%;
      display: flex;
      flex-direction: column;

      .container_text {
        text-transform: uppercase;
        margin-bottom: 50px;

        .title {
          font-weight: 700;
          color: #1C2D5A;
          font-size: 3.99vw;

          @media (min-width: 1440px) {
            font-size: 60px;
          }
        }

        .container_title2 {
          width: 100%;
          display: flex;
          justify-content: flex-end;

          .title2 {
            background: linear-gradient(91.04deg, rgba(249, 158, 74, 0.91) -0.98%, #F0C342 63.62%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-fill-color: transparent;
            font-weight: 700;
            text-align: end;
            font-size: 6.5vw;
            @media (min-width: 1440px) {
              font-size: 100px;
            }
          }

        }

        .title3 {
          width: 50vw;
          @media (min-width: 1440px) {
            width: 750px;
          }
        }

      }

      .lorem {
        font-weight: 400;
        color: #1C2D5A;
        font-size: 1.5vw;
        margin-bottom: 50px;
        @media (min-width: 1440px) {
          font-size: 22px;
        }
      }

      .container_btn {
        display: flex;
        button {
          outline: none;
          width: 277px;
          border-radius: 40px;
          text-transform: uppercase;
          color: white;
          font-weight: 500;
        }

        button:nth-child(1){
          border: none;
          padding: 18px 24px;
          background: linear-gradient(95.03deg, #F09642 0%, #F0DF42 145.26%);
          box-shadow: 3px 3px 10px #F09642;
          margin-right: 10px;
        }

        button:nth-child(2){
          border: 1px solid #4D666D;
          border-radius: 40px;
          padding: 18px 24px;
          color: #4D666D;
          background: transparent;
        }

      }

    }

  }

}