.mobile {
  width: 100%;
  z-index: 100;
  .mobile_container {
    width: 100%;
    padding: 15px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .container_logo {
      img {
        @media (max-width: 375px) {
          width: 73px;
          height: 15px;
        }
        @media (max-width: 425px) {
          width: 100px;
          height: 20px;
        }
        @media (max-width: 768px) {
          width: 120px;
          height: 25px;
        }
      }
    }

    .container_burger {

      .container_burger_contact {
        display: flex;
        align-items: center;

        img:nth-child(1){
          margin-right: 10px;
          @media (max-width: 375px) {
            width: 30px;
            height: 20px;
          }
          @media (max-width: 425px) {
            width: 30px;
            height: 20px;
          }
          @media (max-width: 768px) {
            width: 30px;
            height: 20px;
          }
        }

        img:nth-child(2){
          @media (max-width: 375px) {
            width: 22px;
            height: 18px;
          }
          @media (max-width: 425px) {
            width: 22px;
            height: 18px;
          }
          @media (max-width: 768px) {
            width: 22px;
            height: 18px;
          }
        }
      }

      .sideBar_container {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 158px;
        height: 278px;
      }

    }

  }
}