.card {
  @media (min-width: 320px) {
    width: 250px;
  }
  
  @media (min-width: 650px) {
    //width: 310px;
  }
  
  @media (max-width: 768px) {
    margin-bottom: 20px;
    background: white !important;
    border-color: #E4E5E9;
  }

  box-shadow: 10px 4px 30px rgba(172, 172, 172, 0.25);
  padding: 20px;
  border-radius: 20px;

  .background_icon {
    position: absolute;
    top: 0;
    right: 0;
  }

  .card_container {
    color: #1C2D5A !important;
    h2 {
      font-size: 16px;
      text-transform: uppercase;
    }

    img {
      padding: 20px 0;
      border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    }

    p {
      padding-top: 10px;
      font-size: 14px;
      //width: 288px;
    }

  }

}