.header {
  width: 100%;
  padding: 24px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  .container_logo {
    img {

    }

  }

  .container_burger_contact {
    display: flex;
    align-items: center;

    img {

    }

    img:nth-child(1){
      margin-right: 24px;
    }

  }

  .sideBar_container {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 158px;
    height: 278px;
  }


}