.card {
  border-radius: 20px;
  box-shadow: 4px 4px 10px rgba(128, 128, 128, 0.2);
  
  @media (max-width: 768px) {
    margin-right: 20px;
  }

  .container_card {
    @media (max-width: 768px) {
      width: 257.27px;
      height: 144px;
      padding: 30px;
    }

    @media (min-width: 768px) {
      width: 20vw;
      height: fit-content;
      padding: 1.5vw 2vw;
    }
    img {
      padding-bottom: 8px;
      border-bottom: 1px solid #4497B6;

      @media (max-width: 768px) {
        width: 30px;
        height: 30px;
      }

      @media (min-width: 768px) {
        width: 2vw;
        height: fit-content;
      }

    }

    p {
      padding-top: 8px;
      color: #1C2D5A;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;

      @media (max-width: 768px) {
        font-size: 14px;
      }

      @media (min-width: 768px) {
        font-size: 0.8vw;
      }

    }
  }

}